# Secrets file
.env

# Large data and dump files
final_dump.sql
papers_data.csv

# Python cache
__pycache__/

# IDE and build folders
.idea/
.vscode/
target/
venv/

# Log files
*.log

# OS-specific files
.DS_Store